# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Java stuff
*.java   diff=java

# binary files (aliases to -text & -diff)
*.jpg binary
*.png binary
*.gif binary
*.jar binary
*.gz  binary
*.zip binary
*.ico binary
*.dll binary
*.pdb binary
*.tar binary
*.bmp binary
*.bin binary

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
